<!doctype html>
<html lang="es-cl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- fontawesomecdn -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    <style>
      .breadcrumb {
        background: white;
        padding-left: 0rem;
      }
      /*a serian todos los tipo link*/
      .breadcrumb a {
        color: black;
      }
      .bg-dark-primary {
        background-color: #444!important;
        margin: 0;
        padding: 0;
      }
      .bg-dark-primary .container {
        color: #9a9793
      }
      .bg-dark-primary .container p {
        width: 100%;
        text-align: right;
        margin-bottom: 0;
      }
    </style>

    <title>{% block title %}PDS APP{% endblock %}</title>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-dark-primary">
      <div class="container">
        <p>Usuario: <strong>{{request.user}}</strong> | <a href="{% url 'auth_PDSapp:logout' %}">Cerrar sesion <i class="fas fa-sign-out-alt"></i></a></p>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand" href="{% url 'PDSapp:home' %}">PDS APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              {% block active_navbar_lista_sucursal %}<a class="nav-link" href="{% url 'PDSapp:lista_sucursal' %}">Sucursales</a>{% endblock %}
            </li>

            <li class="nav-item">
              {% block active_navbar_lista_dominio %}<a class="nav-link" href="{% url 'PDSapp:lista_dominio' %}">Dominios</a>{% endblock %}
            </li>

            <li class="nav-item">
              {% block active_navbar_lista_control %}<a class="nav-link" href="{% url 'PDSapp:lista_control' %}">Controles</a>{% endblock %}
            </li>

            {% if perms.PDSapp.view_respuesta %}
            <li class="nav-item">
              {% block active_navbar_lista_respuesta %}<a class="nav-link" href="{% url 'PDSapp:lista_respuesta' %}">Respuestas</a>{% endblock %}
            </li>
            {% endif %}

            <li class="nav-item">
              {% block active_navbar_lista_responder %}<a class="nav-link" href="{% url 'PDSapp:lista_responder' %}">Responder Controles</a>{% endblock %}
            </li>

            <li class="nav-item">
              {% block active_navbar_lista_recomendacion %}<a class="nav-link" href="{% url 'PDSapp:lista_recomendacion' %}">Recomendaciones</a>{% endblock %}
            </li>

            <li class="nav-item">
              {% block active_navbar_lista_aspecto_legal %}<a class="nav-link" href="{% url 'PDSapp:lista_aspecto_legal' %}">Aspectos legales</a>{% endblock %}
            </li>

            <li class="nav-item dropdown">
              {% block active_navbar_informe %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Informes
              </a>
              {% endblock %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'PDSapp:informe_diagnostico' %}">Informe Diagnostico</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'PDSapp:informe_pds' %}">Informe PDS</a>
              </div>
            </li>

            {% if perms.PDSapp.add_perfil %}
            <li class="nav-item">
              {% block active_navbar_register %}<a class="nav-link" href="{% url 'auth_PDSapp:register' %}">Registrar usuario</a>{% endblock %}
            </li>
            {% endif %}
          </ul>
        </div>

      </div>
    </nav>

    <div class="container">
      {% block content_head %}
      {% endblock %}
      
      {% block content_body %}
      {% endblock %}            
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>