{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

{% block title %}Crear sucursal{% endblock %}

{% block active_navbar_lista_sucursal %}<a class="nav-link active" href="{% url 'PDSapp:lista_sucursal' %}">Sucursales</a>{% endblock %}

{% block content_head %}<h2>Agregar Sucursal</h2>{% endblock %}

{% bootstrap_messages %}

{% block content_body %}
<form class="mt-4" method="post" enctype="multipart/form-data" >
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
	  <button type="submit" class="btn btn-primary btn-lg">
	    <i class="fas fa-save"></i> Guardar sucursal
	  </button>
	{% endbuttons %}
</form>
{% endblock %}