{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

{% block title %}Responder Control{% endblock %}

{% block active_navbar_lista_responder %}<a class="nav-link active" href="{% url 'PDSapp:lista_responder' %}">Responder Controles</a>{% endblock %}

{% block content_head %}<h2>Responder Control</h2>{% endblock %}

{% bootstrap_messages %}

{% block content_body %}
<form class="mt-4" method="post" enctype="multipart/form-data" >
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
	  <button type="submit" class="btn btn-primary btn-lg">
	    <i class="fas fa-save"></i> Guardar respuesta
	  </button>
	{% endbuttons %}
</form>
{% endblock %}