{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

{% block title %}Editar Aspecto Legal{% endblock %}

{% block active_navbar_lista_aspecto_legal %}<a class="nav-link active" href="{% url 'PDSapp:lista_aspecto_legal' %}">Aspectos legales</a>{% endblock %}

{% block content_head %}<h2>Editar Aspecto Legal</h2>{% endblock %}

{% bootstrap_messages %}

{% block content_body %}
<form class="mt-4" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
	  <button type="submit" class="btn btn-primary btn-lg">
	    <i class="fas fa-edit"></i> Editar aspecto legal
	  </button>
  {% endbuttons %}
</form>
{% endblock %}