{% extends "PDSapp/base.html" %}

{% block title %}Eliminar sucursal{% endblock %}

{% block active_navbar_lista_sucursal %}<a class="nav-link active" href="{% url 'PDSapp:lista_sucursal' %}">Sucursales</a>{% endblock %}

{% block content_head %}<h2>Eliminar Sucursal</h2>{% endblock %}

{% block content_body %}
<p>¿Esta seguro que desea eliminar la sucursal <strong>{{sucursal.nombre}}</strong>?</p>
<form class="" method="post">
{% csrf_token %}
	<input type="submit" name="" class="btn btn-danger" value="Eliminar"> | <a href="{% url 'PDSapp:lista_sucursal' %}" class="btn btn-light">Cancelar</a>
</form>
{% endblock %}