{% extends "PDSapp/base.html" %}

{% block title %}Eliminar respuesta{% endblock %}

{% block active_navbar_lista_respuesta %}<a class="nav-link active" href="{% url 'PDSapp:lista_respuesta' %}">Respuestas</a>{% endblock %}

{% block content_head %}<h2>Eliminar respuesta</h2>{% endblock %}

{% block content_body %}
<p>¿Esta seguro que desea eliminar la respuesta <strong>{{respuesta.opcion}}</strong>?</p>
<form class="" method="post">
{% csrf_token %}
	<input type="submit" name="" class="btn btn-danger" value="Eliminar"> | <a href="{% url 'PDSapp:lista_respuesta' %}" class="btn btn-light">Cancelar</a>
</form>
{% endblock %}