{% extends "PDSapp/base.html" %}

{% block title %}Eliminar control{% endblock %}

{% block active_navbar_lista_control %}<a class="nav-link active" href="{% url 'PDSapp:lista_control' %}">Controles</a>{% endblock %}

{% block content_head %}<h2>Eliminar control</h2>{% endblock %}

{% block content_body %}
<p>¿Esta seguro que desea eliminar el control <strong>{{control.nombre}}</strong>?</p>
<form class="" method="post">
{% csrf_token %}
	<input type="submit" name="" class="btn btn-danger" value="Eliminar"> | <a href="{% url 'PDSapp:lista_control' %}" class="btn btn-light">Cancelar</a>
</form>
{% endblock %}