{% extends "PDSapp/base.html" %}

{% block title %}Eliminar Aspecto Legal{% endblock %}

{% block active_navbar_lista_aspecto_legal %}<a class="nav-link active" href="{% url 'PDSapp:lista_aspecto_legal' %}">Aspectos legales</a>{% endblock %}

{% block content_head %}<h2>Eliminar Aspecto Legal</h2>{% endblock %}

{% block content_body %}
<p>¿Esta seguro que desea eliminar el aspecto legal <strong>{{aspectolegal.nombre}}</strong>?</p>
<form class="" method="post">
{% csrf_token %}
	<input type="submit" name="" class="btn btn-danger" value="Eliminar"> | <a href="{% url 'PDSapp:lista_aspecto_legal' %}" class="btn btn-light">Cancelar</a>
</form>
{% endblock %}