{% extends "PDSapp/base.html" %}

{% block title %}Eliminar Recomendación{% endblock %}

{% block active_navbar_lista_recomendacion %}<a class="nav-link active" href="{% url 'PDSapp:lista_recomendacion' %}">Recomendaciones</a>{% endblock %}

{% block content_head %}<h2>Eliminar Recomendación</h2>{% endblock %}

{% block content_body %}
<p>¿Esta seguro que desea eliminar la recomendación del control <strong>{{recomendacion.control}}</strong>?</p>
<form class="" method="post">
{% csrf_token %}
	<input type="submit" name="" class="btn btn-danger" value="Eliminar"> | <a href="{% url 'PDSapp:lista_recomendacion' %}" class="btn btn-light">Cancelar</a>
</form>
{% endblock %}