{% extends "PDSapp/base.html" %}

{% block title %}Eliminar dominio{% endblock %}

{% block active_navbar_lista_dominio %}<a class="nav-link active" href="{% url 'PDSapp:lista_dominio' %}">Dominios</a>{% endblock %}

{% block content_head %}<h2>Eliminar Dominio</h2>{% endblock %}

{% block content_body %}
<p>¿Esta seguro que desea eliminar el dominio <strong>{{dominio.nombre}}</strong>?</p>
<form class="" method="post">
{% csrf_token %}
	<input type="submit" name="" class="btn btn-danger" value="Eliminar"> | <a href="{% url 'PDSapp:lista_dominio' %}" class="btn btn-light">Cancelar</a>
</form>
{% endblock %}