{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

  {% block title %}Añadir usuarios{% endblock %}

  {% block content_head %}<h2>Añadir usuarios</h2>{% endblock %}

  {% bootstrap_messages %}

	{% block content_body %}
	  <form method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    <input type="file" name="myfile">
	    {% buttons %}
	    <button type="submit" class="btn btn-primary btn-lg mt-3"><i class="fas fa-user-plus"></i> Añadir usuarios</button>
	    {% endbuttons %}
	  </form>
	{% endblock %}
