{% extends "PDSapp/base.html" %}

{% block title %}PDS APP{% endblock %}

{% block content_body %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-8 col-lg-10"><h2>Bienvenido, {{ request.user.username }}</h2></div>
</div>

{% if not perms.PDSapp.add_respuesta %}
<div class="row">
	<div class="col mt-4">
		<ul>
			<li>En la parte superior de la pantalla podra encontrar diferentes opciones para navegar por la pagina.</li>
			<li>Si esta encargado de algun dominio, podra responder a los controles en el apartado superior "Responder Controles".</li>
			<li>Si esta encargado de algun dominio y no aparecen controles que responder, hable con su Lider de proyecto para que le asigne los controles a responder.</li>
		</ul>
	</div>
</div>
{% endif %}

{% if perms.PDSapp.add_respuesta %}
<div class="row">
	<div class="col mt-4">
		<ul>
			<li>En la parte superior de la pantalla podra encontrar diferentes opciones para navegar por la pagina.</li>
			<li>Como Lider de proyecto usted esta encargado de crear los dominios, controles, recomendaciones, aspectos legales, sucursales y registrar los usuarios.</li>
			<li>Como Lider de proyecto tambien debe crear respuestas en el apartado superior "Respuestas" llenando en el formulario "Crear respuesta" el control y el encargado que respondera el control.</li>
			<li>Si esta encargado de algun dominio, podra responder a los controles en el apartado superior "Responder Controles".</li>
		</ul>
	</div>
</div>
{% endif %}

{% endblock %}
