{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

{% block title %}Informe Diagnostico{% endblock %}

{% block active_navbar_informe %}
<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Informes
</a>
{% endblock %}

{% block content_head %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-8 col-lg-10"><h2>Informe Diagnostico</h2></div>
	<div class="col-sm-6 col-md-4 col-lg-2"><a href="{% url 'PDSapp:informe_diagnostico_pdf' %}" class="btn btn-success btn-block">Descargar Informe</a></div>
</div>
{% endblock %}


{% block content_body %}
	<div class="row">
		<div class="col-md">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Dominio</th>
						<th>Control</th>
						<th>Responsable/s</th>
						<th>Cargo/s</th>
						<th>Porcentaje de cumplimiento del control</th>
					</tr>
				</thead>

				<tbody>
				{% for control in controles %}
					<tr>
						<td style="width:110px;">{{control.dominio.nombre}}</td>
						<td style="width:110px;">{{control.nombre}}</td>
 						<td style="width:110px;">
 							{% with control.dominio.perfil.all as perfiles %}
				              {% if perfiles %}
				                {% for perfil in perfiles %}
				                <span class="badge badge-light">{{perfil.user.username}}</span>
				                {% endfor %}
				              {% endif %}
				            {% endwith %}
 						</td>
 						<td style="width:80px;">
 							{% with control.dominio.perfil.all as perfiles %}
				              {% if perfiles %}
				                {% for perfil in perfiles %}
				                <span class="badge badge-light">{{perfil.cargo}}</span>
				                {% endfor %}
				              {% endif %}
				            {% endwith %}
 						</td>
						{% for respuesta in control.respuesta_set.all %}
						<td style="width:110px;">{{respuesta.get_percentage}}%</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}