<!doctype html>
<html lang="es-cl">
    <head>
        <title>Informe Plan Director de Seguridad</title>
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
        </style>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <p class='title'>Informe Plan Director de Seguridad</p>
            </div>
        <div>
		<div class="row">
			<div class="col-md">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Dominio</th>
							<th>Control</th>
							<th>Recomendación</th>
							<th>Fecha de actualización</th>
							<th>Fecha de aplicación</th>
							<th>Responsable/s</th>
							<th>Cargo de responsable/s</th>
							<th>Estado</th>
						</tr>
					</thead>

					<tbody>
					{% for control in controles %}
						<tr>
							<td style="width:110px;">{{control.dominio.nombre}}</td>
							<td style="width:110px;">{{control.nombre}}</td>
							{% for recomendacion in control.recomendacion_set.all %}
							<td style="width:150px;">{{recomendacion.descripcion}}</td>
	 						<td style="width:150px;">{{recomendacion.fecha_actualizacion}}</td>
	 						<td style="width:150px;">{{recomendacion.fecha_aplicacion}}</td>
	 						<td style="width:150px;">
	 							{% with recomendacion.control.dominio.perfil.all as perfiles %}
					              {% if perfiles %}
					                {% for perfil in perfiles %}
					                <span class="badge badge-light">{{perfil.user.username}}</span>
					                {% endfor %}
					              {% endif %}
					            {% endwith %}
					        </td>
	 						<td style="width:150px;">
	 							{% with recomendacion.control.dominio.perfil.all as perfiles %}
					              {% if perfiles %}
					                {% for perfil in perfiles %}
					                <span class="badge badge-light">{{perfil.cargo}}</span>
					                {% endfor %}
					              {% endif %}
					            {% endwith %}
					        </td>
	 						<td style="width:150px;">{{recomendacion.estado}}</td>
							{% endfor %}
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </body>
</html>