{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

{% block title %}Informe Plan Director de Seguridad{% endblock %}

{% block active_navbar_informe %}
<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Informes
</a>
{% endblock %}

{% block content_head %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-8 col-lg-7"><h2>Informe Plan Director de Seguridad</h2></div>
	<div class="col-sm-6 col-md-8 col-lg-2"><a href="{% url 'PDSapp:informe_pds_pdf' %}" class="btn btn-success btn-block">Descargar Informe</a></div>
	<div class="col-sm-6 col-md-8 col-lg-3 mb-3"><a href="{% url 'PDSapp:lista_aspecto_legal' %}" class="btn btn-success btn-block">Aspectos legales asociados a los dominios</a></div>
</div>
{% endblock %}


{% block content_body %}
	<div class="row">
		<div class="col-md">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Dominio</th>
						<th>Control</th>
						<th>Porcentaje de cumplimiento del control</th>
						<th>Recomendación</th>
						<th>Fuente</th>
						<th>Fecha de creación</th>
						<th>Fecha de actualización</th>
						<th>Fecha de aplicación</th>
						<th>Responsable/s</th>
						<th>Cargo responsable/s</th>
						<th>Aprobado por</th>
						<th>Estado</th>
					</tr>
				</thead>

				<tbody>
				{% for control in controles %}
					<tr>
						<td style="width:110px;">{{control.dominio.nombre}}</td>
						<td style="width:110px;">{{control.nombre}}</td>
						{% for respuesta in control.respuesta_set.all %}
						<td style="width:110px;">{{respuesta.get_percentage}}%</td>
						{% endfor %}
						{% for recomendacion in control.recomendacion_set.all %}
						<td style="width:100px;">{{recomendacion.descripcion}}</td>
 						<td style="width:80px;">{{recomendacion.fuente}}</td>
 						<td style="width:80px;">{{recomendacion.fecha_creacion}}</td>
 						<td style="width:80px;">{{recomendacion.fecha_actualizacion}}</td>
 						<td style="width:80px;">{{recomendacion.fecha_aplicacion}}</td>
 						<td style="width:80px;">
 							{% with recomendacion.control.dominio.perfil.all as perfiles %}
				              {% if perfiles %}
				                {% for perfil in perfiles %}
				                <span class="badge badge-light">{{perfil.user.username}}</span>
				                {% endfor %}
				              {% endif %}
				            {% endwith %}
				        </td>
 						<td style="width:80px;">
 							{% with recomendacion.control.dominio.perfil.all as perfiles %}
				              {% if perfiles %}
				                {% for perfil in perfiles %}
				                <span class="badge badge-light">{{perfil.cargo}}</span>
				                {% endfor %}
				              {% endif %}
				            {% endwith %}
				        </td>
 						<td style="width:80px;">{{recomendacion.aprobado}}</td>
 						<td style="width:80px;">{{recomendacion.estado}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}