{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

{% block title %}Aspectos legales{% endblock %}

{% block active_navbar_lista_aspecto_legal %}<a class="nav-link active" href="{% url 'PDSapp:lista_aspecto_legal' %}">Aspectos legales</a>{% endblock %}


{% block content_head %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-6 col-lg-9"><h2>Aspectos legales</h2></div>
	<div class="col-sm-6 col-md-6 col-lg-3">
		{% if perms.PDSapp.add_aspectolegal %}
		<a href="{% url 'PDSapp:crear_aspecto_legal' %}" class="btn btn-success btn-block">Crear Aspecto legal</a>
		{% endif %}
	</div>
</div>
{% endblock %}


{% block content_body %}
	<div class="row">
		<div class="col-md">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Dominio/s</th>
						<th>Aspecto legal</th>
						<th>Descripción</th>
						{% if perms.PDSapp.change_aspectolegal or perms.PDSapp.delete_aspectolegal %}
						<th>Accion</th>
						{% endif %}
					</tr>
				</thead>

				<tbody>
				{% for aspectolegal in aspectoslegales %}
					<tr>
 						<td style="width:110px;">
 							{% with aspectolegal.dominio.all as dominios %}
				              {% if dominios %}
				                {% for dominio in dominios %}
				                <span class="badge badge-light">{{dominio.nombre}}</span>
				                {% endfor %}
				              {% endif %}
				            {% endwith %}
 						</td>
 						<td style="width:50px;">{{aspectolegal.nombre}}</td>
 						<td style="width:170px;">{{aspectolegal.descripcion}}</td>
 						{% if perms.PDSapp.change_dominio or perms.PDSapp.delete_dominio %}
						<td style="width:20px;">
							{% if perms.PDSapp.change_aspectolegal %}
							<a href="{% url 'PDSapp:editar_aspecto_legal' aspectolegal.id %}">Editar <i class="fas fa-edit color_update"></i></a>
							{% endif %}
							{% if perms.PDSapp.change_aspectolegal and perms.PDSapp.delete_aspectolegal %}
							 |
							{% endif %}
							{% if perms.PDSapp.delete_aspectolegal %}
							<a href="{% url 'PDSapp:eliminar_aspecto_legal' aspectolegal.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
							{% endif %}
						</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}