{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

{% block title %}Controles{% endblock %}

{% block active_navbar_lista_control %}<a class="nav-link active" href="{% url 'PDSapp:lista_control' %}">Controles</a>{% endblock %}

{% block content_head %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-8 col-lg-10"><h2>Controles</h2></div>
	<div class="col-sm-6 col-md-4 col-lg-2">
		{% if perms.PDSapp.add_control %}
		<a href="{% url 'PDSapp:crear_control' %}" class="btn btn-success btn-block">Crear control</a>
		{% endif %} 
	</div>
</div>
{% endblock %}


{% block content_body %}
	<div class="row">
		<div class="col-md">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Dominio</th>
						<th>Control</th>
						<th>Responsable/s</th>
						{% if perms.PDSapp.change_control or perms.PDSapp.delete_control %}
						<th>Accion</th>
						{% endif %}
					</tr>
				</thead>

				<tbody>
				{% for control in controles %}
					<tr>
						<td style="width:110px;">{{control.dominio.nombre}}</td>
						<td style="width:110px;">{{control.nombre}}</td>
 						<td style="width:110px;">
 							{% with control.dominio.perfil.all as perfiles %}
				              {% if perfiles %}
				                {% for perfil in perfiles %}
				                <span class="badge badge-light">{{perfil.user.username}}</span>
				                {% endfor %}
				              {% endif %}
				            {% endwith %}
 						</td>
 						{% if perms.PDSapp.change_control or perms.PDSapp.delete_control %}
						<td style="width:20px;">
							{% if perms.PDSapp.change_control %}
							<a href="{% url 'PDSapp:editar_control' control.id %}">Editar <i class="fas fa-edit color_update"></i></a>
							{% endif %}
							{% if perms.PDSapp.change_control and perms.PDSapp.delete_control %}
							 |
							{% endif %}
							{% if perms.PDSapp.delete_control %}
							<a href="{% url 'PDSapp:eliminar_control' control.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
							{% endif %}
						</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}