{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

{% block title %}Dominios{% endblock %}

{% block active_navbar_lista_dominio %}<a class="nav-link active" href="{% url 'PDSapp:lista_dominio' %}">Dominios</a>{% endblock %}


{% block content_head %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-8 col-lg-10"><h2>Dominios</h2></div>
	<div class="col-sm-6 col-md-4 col-lg-2">
		{% if perms.PDSapp.add_dominio %}
		<a href="{% url 'PDSapp:crear_dominio' %}" class="btn btn-success btn-block">Crear dominio</a>
		{% endif %}
	</div>
</div>
{% endblock %}


{% block content_body %}
	<div class="row">
		<div class="col-md">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Dominio</th>
						<th>Responsable/s</th>
						{% if perms.PDSapp.change_dominio or perms.PDSapp.delete_dominio %}
						<th>Accion</th>
						{% endif %}
					</tr>
				</thead>

				<tbody>
				{% for dominio in dominios %}
					<tr>
						<td style="width:170px;">{{dominio.nombre}}</td>
 						<td style="width:170px;">
 							{% with dominio.perfil.all as perfiles %}
				              {% if perfiles %}
				                {% for perfil in perfiles %}
				                <span class="badge badge-light">{{perfil.user.username}}</span>
				                {% endfor %}
				              {% endif %}
				            {% endwith %}
 						</td>
 						{% if perms.PDSapp.change_dominio or perms.PDSapp.delete_dominio %}
						<td style="width:10px;">
							{% if perms.PDSapp.change_dominio %}
							<a href="{% url 'PDSapp:editar_dominio' dominio.id %}">Editar <i class="fas fa-edit color_update"></i></a>
							{% endif %}
							{% if perms.PDSapp.change_dominio and perms.PDSapp.delete_dominio %}
							 |
							{% endif %}
							{% if perms.PDSapp.delete_dominio %}
							<a href="{% url 'PDSapp:eliminar_dominio' dominio.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
							{% endif %}
						</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}