{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

{% block title %}Recomendaciones{% endblock %}

{% block active_navbar_lista_recomendacion %}<a class="nav-link active" href="{% url 'PDSapp:lista_recomendacion' %}">Recomendaciones</a>{% endblock %}


{% block content_head %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-6 col-lg-9"><h2>Recomendaciones</h2></div>
	<div class="col-sm-6 col-md-6 col-lg-3">
		{% if perms.PDSapp.add_recomendacion %}
		<a href="{% url 'PDSapp:crear_recomendacion' %}" class="btn btn-success btn-block">Crear Recomendación</a>
		{% endif %}
	</div>
</div>
{% endblock %}


{% block content_body %}
	<div class="row">
		<div class="col-md">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Dominio/s</th>
						<th>Control</th>
						<th>Recomendación</th>
						<th>Fuente</th>
						<th>Fecha de creación</th>
						<th>Fecha de actualización</th>
						<th>Fecha de aplicación</th>
						<th>Responsable/s</th>
						<th>Cargo responsable/s</th>
						<th>Aprobado por</th>
						<th>Estado</th>
						{% if perms.PDSapp.change_recomendacion or perms.PDSapp.delete_recomendacion %}
						<th>Accion</th>
						{% endif %}
					</tr>
				</thead>

				<tbody>
				{% for recomendacion in recomendaciones %}
					<tr>
 						<td style="width:80px;">{{recomendacion.control.dominio.nombre}}</td>
 						<td style="width:80px;">{{recomendacion.control.nombre}}</td>
 						<td style="width:100px;">{{recomendacion.descripcion}}</td>
 						<td style="width:80px;">{{recomendacion.fuente}}</td>
 						<td style="width:80px;">{{recomendacion.fecha_creacion}}</td>
 						<td style="width:80px;">{{recomendacion.fecha_actualizacion}}</td>
 						<td style="width:80px;">{{recomendacion.fecha_aplicacion}}</td>
 						<td style="width:80px;">
 							{% with recomendacion.control.dominio.perfil.all as perfiles %}
				              {% if perfiles %}
				                {% for perfil in perfiles %}
				                <span class="badge badge-light">{{perfil.user.username}}</span>
				                {% endfor %}
				              {% endif %}
				            {% endwith %}
				        </td>
 						<td style="width:80px;">
 							{% with recomendacion.control.dominio.perfil.all as perfiles %}
				              {% if perfiles %}
				                {% for perfil in perfiles %}
				                <span class="badge badge-light">{{perfil.cargo}}</span>
				                {% endfor %}
				              {% endif %}
				            {% endwith %}
				        </td>
 						<td style="width:80px;">{{recomendacion.aprobado}}</td>
 						<td style="width:80px;">{{recomendacion.estado}}</td>
 						{% if perms.PDSapp.change_recomendacion or perms.PDSapp.delete_recomendacion %}
						<td style="width:10px;">
							{% if perms.PDSapp.change_recomendacion %}
							<a href="{% url 'PDSapp:editar_recomendacion' recomendacion.id %}">Editar <i class="fas fa-edit color_update"></i></a>
							{% endif %}
							{% if perms.PDSapp.change_recomendacion and perms.PDSapp.delete_recomendacion %}
							 |
							{% endif %}
							{% if perms.PDSapp.delete_recomendacion %}
							<a href="{% url 'PDSapp:eliminar_recomendacion' recomendacion.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
							{% endif %}
						</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}