{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

{% block title %}Lista de respuestas{% endblock %}

{% block active_navbar_lista_responder %}<a class="nav-link active" href="{% url 'PDSapp:lista_responder' %}">Responder Controles</a>{% endblock %}

{% block content_head %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-8 col-lg-9"><h2>Lista de respuestas</h2></div>
	<div class="col-sm-6 col-md-4 col-lg-3">
		<a href="{% url 'PDSapp:crear_responder' %}" class="btn btn-success btn-block">Presione aquí para responder a un control</a>
	</div>
</div>
{% endblock %}


{% block content_body %}
	<div class="row">
		<div class="col-md">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Dominio</th>
						<th>Control</th>
						<th>Respuesta actual</th>
						<th>Accion</th>
					</tr>
				</thead>

				<tbody>
				{% for opcion in opciones %}
					<tr>
						<td style="width:168px;">{{opcion.respuesta.control.dominio.nombre}}</td>
						<td style="width:168px;">{{opcion.respuesta.control.nombre}}</td>
 						<td style="width:168px;">{{opcion.dato}}</td>
						<td style="width:7px;">
							<a href="{% url 'PDSapp:editar_responder' opcion.id %}">Editar <i class="fas fa-edit color_update"></i></a>
							 |
							<a href="{% url 'PDSapp:eliminar_responder' opcion.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}