{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

{% block title %}Sucursales{% endblock %}

{% block active_navbar_lista_sucursal %}<a class="nav-link active" href="{% url 'PDSapp:lista_sucursal' %}">Sucursales</a>{% endblock %}


{% block content_head %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-8 col-lg-10"><h2>Sucursales</h2></div>
	<div class="col-sm-6 col-md-4 col-lg-2">
		{% if perms.PDSapp.add_sucursal %}
		<a href="{% url 'PDSapp:crear_sucursal' %}" class="btn btn-success btn-block">Crear sucursal</a>
		{% endif %}
	</div>
</div>
{% endblock %}


{% block content_body %}
	<div class="row">
		<div class="col-md">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Sucursal</th>
						<th>Descripción/s</th>
						{% if perms.PDSapp.change_dominio or perms.PDSapp.delete_dominio %}
						<th>Accion</th>
						{% endif %}
					</tr>
				</thead>

				<tbody>
				{% for sucursal in sucursales %}
					<tr>
						<td style="width:170px;">{{sucursal.nombre}}</td>
 						<td style="width:170px;">{{sucursal.descripcion}}</td>
 						{% if perms.PDSapp.change_sucursal or perms.PDSapp.delete_sucursal %}
						<td style="width:10px;">
							{% if perms.PDSapp.change_sucursal %}
							<a href="{% url 'PDSapp:editar_sucursal' sucursal.id %}">Editar <i class="fas fa-edit color_update"></i></a>
							{% endif %}
							{% if perms.PDSapp.change_sucursal and perms.PDSapp.delete_sucursal %}
							 |
							{% endif %}
							{% if perms.PDSapp.delete_sucursal %}
							<a href="{% url 'PDSapp:eliminar_sucursal' sucursal.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
							{% endif %}
						</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}