{% extends "PDSapp/base.html" %}
{% load bootstrap4 %}

{% block title %}Respuestas{% endblock %}

{% block active_navbar_lista_respuesta %}<a class="nav-link active" href="{% url 'PDSapp:lista_respuesta' %}">Respuestas</a>{% endblock %}

{% block content_head %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-8 col-lg-10"><h2>Respuestas</h2></div>
	<div class="col-sm-6 col-md-4 col-lg-2">
		{% if perms.PDSapp.add_respuesta %}
		<a href="{% url 'PDSapp:crear_respuesta' %}" class="btn btn-success btn-block">Crear respuesta</a>
		{% endif %} 
	</div>
</div>
{% endblock %}


{% block content_body %}
	<div class="row">
		<div class="col-md">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Dominio</th>
						<th>Control</th>
						<th>Respuesta actual</th>
						<th>Accion</th>
					</tr>
				</thead>

				<tbody>
				{% for respuesta in respuestas %}
					<tr>
						<td style="width:168px;">{{respuesta.control.dominio.nombre}}</td>
						<td style="width:168px;">{{respuesta.control.nombre}}</td>
 						<td style="width:168px;">{{respuesta.opcion}}</td>
						<td style="width:7px;">
							<a href="{% url 'PDSapp:editar_respuesta' respuesta.id %}">Responder/Cambiar <i class="fas fa-edit color_update"></i></a>
							{% if perms.PDSapp.delete_respuesta %}
							 |
							<a href="{% url 'PDSapp:eliminar_respuesta' respuesta.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}