{% extends "PDSapp/base.html" %}

{% load bootstrap4 %}

{% block title %}Registrar usuario{% endblock %}

{% block active_navbar_register %}<a class="nav-link active" href="{% url 'auth_PDSapp:register' %}">Registrar usuario</a>{% endblock %}

{% block content_body %}

<div class="container text-center">

  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-5 align-self-center text-center">
      {% bootstrap_messages %}
      <h2 class="h3 mb-3 font-weight-normal">Registrar usuario</h2>

      <form class="px-4 py-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}


        <div class="form-group">
          <label for="username">Nombre de usuario</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Usuario">
        </div>
        <div class="form-group">
          <label for="first_name">Nombre</label>
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Nombre">
        </div>
        <div class="form-group">
          <label for="last_name">Apellido Paterno</label>
          <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Apellido Paterno">
        </div>
        <div class="form-group">
          <label for="apellido_materno">Apellido Materno</label>
          <input type="text" class="form-control" id="apellido_materno" name="apellido_materno" placeholder="Apellido Materno">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico">
        </div>

        {% bootstrap_field perfil_form.sucursal %}

        <div class="form-group">
          <label for="cargo">Cargo</label>
          <select id="cargo" class="form-control" name="cargo">
            <option>OPERATIVO</option>
            <option>DIRECTIVO</option>
            <option>AMBOS</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password1">Contraseña</label>
          <input type="password" class="form-control" id="password1" name="password1" placeholder="Contraseña">
        </div>
        <div class="form-group">
          <label for="password2">Repita su contraseña</label>
          <input type="password" class="form-control" id="password2" name="password2" placeholder="Contraseña">
        </div>


        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>

    </div>

  </div>

</div>


{% endblock %}
